.footerC {
    margin-top:6px;
    display:grid;
    /*grid-template-columns:35% 29% 27%;*/
    /*justify-content: space-around;*/
    background-color:#404040;
    color:white;
    height:auto;
    width:100%;
    padding:10px;
    text-align:center;
    font-weight:normal;
  }
  .footerTitle {
      font-size:28px;
  }
  .paraBody {
      font-size:14px;
  }
  .listBody {
      font-size:14px;
  }
  .listBody ul {
      list-style-type:none;
    padding:0;
    margin:0;
  }
  .listBody ul li a {
      color:white;
    text-decoration:underline;
  }
  .listBody ul li a:hover {
      color:#262626;
  }
  .disclaimer p {
      margin-bottom:0px;
    }
    .mobileG {
      display:none;
    }
    .disclaimerC {
      display:grid;
      grid-template-columns:auto;
      width:100%;
      height:100%;
      /*align-content:center;*/
    }
    .helpfullinksC {
      display:grid;
      grid-template-columns:auto;
      width:100%;
      height:100%;
      /*align-content:center;*/
    }
    .helpfullinksMC {
      display:grid;
      grid-template-columns:auto;
      width:100%;
      height:100%;
      /*align-content:center;*/
    }
    .createdbyM {display:none;}
    .footerC {
      grid-template-columns:33% 33% 33%;
      justify-content:left;
    }
  @media (max-width:820px) {
    .createdbyM {display:block;width:100%;margin-right:auto;margin-left:auto;}
    .helpfullinksC {display:block;}
    .helpfullinksMC {display:block;}
    .disclaimer, .helpfullinks, .createdby {display:none;}
    .mobileG {
      display:grid;
      grid-template-columns:45% 45%;
      justify-content:center;
    }
    .listBody {
          font-size:12px;
      }
    .paraBody {
          font-size:12px;
      }
    .createdbyM .footerTitle{
        font-size:24px;
    }
    .disclaimerM .footerTitle{
        font-size:24px;
    }
    .createdby .footerTitle{
        font-size:24px;
    }
    .footerC {
    grid-template-columns:100%;
    padding:10px;
    text-align:center;
    }
    .footerC div:first-child {
      margin-bottom:6.5px;
      margin-top:2px;
    }
  }