/*NOTE- These are the STEAM colors that we are using for the org bcgs:
(Green)- Science: #8ac926
(Blue)- Technology: #1982c4
(Purple)- Engineering: #6a4c93
(Orange)- Art: #ffca3a
(Red)- Math: #ff595e
*/
.center {
  text-align: center;
}
.card.main {
  margin-top: 50px;
  margin-bottom: 25px;
  border: 0;
}
.card.main img.seamless {
  width: 100%;
  display: block;
}
.card.main .body .page-top {
  text-align: center;
}
.card.main .body .page-top img {
  width: 100px;
}
.card.main .body .search-bar {
  margin-bottom: 20px;
}
#club-social-icons {
  font-size: 24pt;
}
#club-notice {
  height:400px;
  width:auto;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
}
.footer {
  font-size: 10pt;
}
.modClubLinks {
    list-style-type:none;
    margin:0;
    padding:0;
}
.modClubLinks li a {
  color:#037dff;
  text-decoration:none;
  padding-left:25px;
}
.modClubLinks li a:hover{
  color:#004a99;
  text-decoration:underline;
}
.clubDisplay ul {
  list-style-type:none;
  padding:0;
  margin:0;
}
.gridC{
  display:grid;
  grid-template-columns: 65% 35%;
  padding:6px 0px 6px 6px;
  border-radius:4px;
  border-left:4px solid #cc3300;
  border-bottom:0.25px solid #e6e6e6;
  border-top:0.25px solid #e6e6e6;
  border-right:0.25px solid #e6e6e6;
  margin-bottom:8px;
}
.gridC:hover {
  background-color:#e6e6e6;
  cursor:pointer;
}
.titleT {
  font-weight:bold;
  font-size:18px;
}
.hzLine {
  height:1.5px !important;
  border-width:0;
  color:black;
  background-color:black;
}
.linkItemA { 
  color:#037dff;
  text-decoration:none;
}
.linkItemA:hover {
  cursor:pointer;
  color:#004a99;
  text-decoration:underline;
}
.gridC div a { 
  color:#037dff;
  text-decoration:none;
}
.gridC div a:hover {
  color:#004a99;
  text-decoration:underline;
}
#returnToList {
  color:#037dff;
}
#returnToList:hover {
  cursor:pointer;
  color:#004a99;
  text-decoration:underline;
}
body {
user-select:none;
font-family: 'Montserrat', sans-serif;
font-weight:500;
}
html, body{
  scroll-behavior: smooth;
  overflow-x:hidden;
  max-width:100%;
}
.bodyContent {
  margin-left:7%;
  margin-right:7%;
}
p {
  font-size:16px; /*note that 16px is the default font size for p tags*/
}
img {
  width:100%;
  height:auto;
}
.imgC {
  position:relative;
  /*background-color:black; /*used to be #a6a6a6*/
  border:1px solid black; /*used to be 7px*/
  max-width:1300px;
  margin-right:auto;
  margin-left:auto;
  overflow:hidden;
}
.page-link {
  cursor:pointer;
}
/*#enlarge {
  width:6vmin;
  min-width:30px;
  max-width:60px;
  border-radius:5px;
}
#enlarge:hover {
  filter: brightness(230%);
  cursor: pointer;
}*/
#zoomIn {
  width:6vmin;
  min-width:30px;
  max-width:60px;
  border-radius:5px;
}
#zoomIn:hover {
  filter: brightness(90%);
  cursor: pointer;
}
#zoomOut {
  width:6vmin;
  min-width:30px;
  max-width:60px;
  border-radius:5px;
}
#zoomOut:hover {
  filter: brightness(90%);
  cursor: pointer;
}
/*.imgC2 {
  position:absolute;
  top:15px;
  right:15px;
}*/
.imgC3 {
  position:absolute;
  bottom:30%; /*this used to be 100px*/
  right:15px;
}
.imgC4 {
  position:absolute;
  /*bottom:10%; /*this used to be 50px*/
  right:15px;
  bottom: calc(30% - 10vmin);
}
.topBar {
  position:relative;
  padding:10px;
  background-color:#1778b5;
  font-weight:bold;
  font-size:24px;
}
#moreInfo {
  width:6vmin;
  min-width:30px;
  max-width:60px;
  border-radius:5px;
}
#moreInfo:hover {
  filter: brightness(90%);
  cursor: pointer;
}
.closeInfo {
          position:absolute;
          top:1px;
          right:12px;
          color:white;
          /*z-index:99;*/
          font-size:30px;
          font-weight:bold;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          -o-user-select: none;
          user-select: none;
          padding:4px;
      }
.closeInfo:hover {
  color:black;
  cursor: pointer;
}
.closeInfoMobile {
          position:absolute;
          top:1px;
          right:12px;
          color:white;
          /*z-index:99;*/
          font-size:30px;
          font-weight:bold;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          -o-user-select: none;
          user-select: none;
          padding:4px;
      }
.closeInfoMobile:hover {
  color:black;
  cursor: pointer;
}
.infoData { /*this has the grid that contains the room data*/
  display:grid;
  grid-template-columns:50% 50%;
  height:auto;
  width:100%;
}
.orgImgs {
  position:relative;
  display:grid;
  overflow:visible;
  /*grid-template-columns:33% 33% 33%;*/
  grid-template-columns:auto auto auto;
  width:100%;
  height:auto;
  float:left;
}
.orgImgs img{
  object-fit:cover;
}
.orgImgsC {
  display:inline-block;
  overflow:visible;
}
.orgsTxt {
  display:block;
  padding-top:8px;
  float:left;
  margin-right:6px;
}
/*Note- this is for all of the zoom img stuff*/
        .zoomImgC {
          position:fixed;
          width:100%;
          height:100%;
          background-color:rgba(0,0,0,0.85);
          z-index:99;
          top: 0%;
          left: 0%;
          display:none;
          text-align:center;
      }
      .zoomImg{
          position:absolute;
          left:50%;
          top:50%;
          /*margin-top:-40vmin;*/
          transform: translate(-50%, -50%);
          grid-column:2 / 3;
          height:auto;
          width:97%;
          max-width:1000px;
          background-color:white;
      }
      .close {
          position:fixed;
          top:5%;
          right:40px;
          color:white;
          z-index:99;
          font-size:30px;
          font-weight:bold;
          display:none;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          -o-user-select: none;
          user-select: none;
          padding:4px;
      }
.close:hover {
  filter:brightness(60%);
  cursor: pointer;
}
.roomToggle {
  border-radius:20px;
  color:white;
  background-color:#34a1e5;
  padding:5px;
  font-size:14px;
  position:absolute;
  left:20px;
  top:70%;
  max-width:8%;
  overflow:hidden;
  text-overflow: ellipsis;
  text-align:center;
  /*word-wrap:break-word;*/
  /*word-break:break-all;*/
}
.roomToggle:hover {
  /*filter:brightness(90%);
  cursor:pointer;*/
  cursor:grab;
}
.infoDataMobile {
  text-align:center;
  margin-left:auto;
  margin-right:auto;
}
.infoDataMobile div:last-child {
  padding-bottom:6px;
}
.orgImgsMobile {
  width:100%;
  height:auto;
}
.orgImgsMobile img{
  object-fit:cover;
}
.orgImgsMobile div {
  position:relative;
  width:200px;
  height:40px;
  border-radius:20px;
  background-color:#8ac926;
  margin-bottom:5px;
  color:white;
  font-size:13px;
  text-align:center;
}
.orgImgsMobile div:last-child {
  margin-bottom:0px;
}
.orgImgsMobile div:hover {
  filter: brightness(90%);
  cursor:pointer;
}
.orgImgsMobile div .insideImg{
  position:absolute;
  width:40px;
  height:40px;
  padding:0px;
  border-radius:50%;
  overflow:hidden;
  background-color:black;
  right: 0px;
  top:0px;
}
#floorNavMobile {
  display:none;
}
.nav1, .nav2 {
  color:white !important;
}
.nav1:hover, .nav2:hover {
  color:white !important;
}
#iMap:hover {cursor: -webkit-grab; cursor: grab;}
#iMap:active {cursor: -webkit-grabbing; cursor: grabbing;}
.courseNm {
  color:white;
}
.courseNm:hover {
  color:#808080;
}
.imgC8 {
  display:none;
}
.noShow {
  display:none !important;
}
.imgC9 {
  position:absolute;
  top:5%;
  left:12%;
}
.imgC9 h2 {
  font-weight:bold;
  font-size:4vmin; /*this used to be 34px*/
}
#A015 {
  max-width:9.5%; /*9.25%*/
  /*width: auto !important;*/
}
#B018, #A023 {
  width:6.5%;
}
.legendC {
  position:absolute;
  left:0px;
  top:0px;
  color:white;
  z-index:99;
  width:25%;
  /*height:calc(100% - 84px); /*or try 35vmin*/
  /*height:100%;*/
  padding-bottom:3%;
  background-color:rgba(23,120,181,0.9);
  display:block;
  transition:display 5s;
}
.legendC ul {
  list-style-type:none;
  margin:0;
  padding:0;
}
.legendC ul li {
  /*margin-top:4px;*/
  padding-top:4px;
  padding-bottom:4px;
  padding-left:30px;
  border-left:5px solid rgba(53,161,227,0.0);
}
.legendC ul li:hover {
  /*background-color:rgba(15,75,112,0.9);
  border-left:5px solid rgba(53,161,227,0.9);*/
  cursor:pointer;
}
.legendC ul li:first-child {
  margin-top:7%;
}
.imgC6 {
  position:absolute;
  left:15px;
  top:15px;
  display:none;
}
.imgC6Mobile {
  position:absolute;
  left:15px;
  top:15px;
  display:none;
}
.legendCMobile {
  text-align:center;
  color:white;
  z-index:99;
  width:100%;
  height:80%;
  background-color:rgba(23,120,181,0.9);
  display:none;
}
.legendCMobile ul {
  list-style-type:none;
  margin:0;
  padding:0;
}
.legendCMobile ul li {
  /*margin-top:4px;*/
  padding-top:10px;
  padding-bottom:10px;
  text-align:center;
}
.legendCMobile ul li:hover {
  /*background-color:rgba(15,75,112,0.9);*/
  cursor:pointer;
}
.legendCMobile ul li:first-child {
  margin-top:calc(4px + 2%);
}
.gphR {
  background-color:rgba(255,202,58,0.9);
}
.gphR:hover {
  background-color:rgba(230, 168, 0,0.9);
  border-left:5px solid rgba(255,202,58,0.9);
}
.admR {
  background-color:rgba(255, 148, 10,0.9);
}
.admR:hover {
  background-color:rgba(204, 116, 0,0.9);
  border-left:5px solid rgba(255, 148, 10,0.9);
}
.sciR {
  background-color:rgba(138,201,38,0.9);
}
.sciR:hover {
  background-color:rgba(103, 150, 29,0.9);
  border-left:5px solid rgba(138,201,38,0.9);
}
.comR {
  background-color:rgba(235,180,255,0.9);
}
.comR:hover {
  background-color:rgba(228, 153, 255,0.9);
  border-left:5px solid rgba(235,180,255,0.9);
}
.intR {
  background-color:rgba(25,130,196,0.9);
}
.intR:hover {
  background-color:rgba(15, 75, 112,0.9);
  border-left:5px solid rgba(25,130,196,0.9);
}
.matR {
  background-color:rgba(255,89,94,0.9);
}
.matR:hover {
  background-color:rgba(204, 0, 7,0.9);
  border-left:5px solid rgba(255,89,94,0.9);
}
.footerC {
  font-weight:normal;
}
.disclaimer p {
  font-size:14px;
}
@media (max-height: 500px){
  .close {
    filter:brightness(10%);
  }
}
@media (min-width: 750px){
  .imgC3 {
    right:30px;
  }
  .imgC4 {
    right:30px;
  }
}
@media (min-width: 1050px){
  .imgC9 {
    left:9%;
  }
}
@media (min-width: 1450px){
  .imgC9 h2 {
    font-size:4.5vmin;
  }
}
@media (max-width:1194px){
  .roomToggle {
  border-radius:20px;
  color:white;
  background-color:#34a1e5;
  padding:0.5vmin;
  position:absolute;
  left:20px;
  top:70%;
  font-size:80%;
}
.roomToggle:hover {
  filter:brightness(90%);
  cursor:pointer;
}
#B018, #A023 {
  display:none;
}
}
@media (max-width:915px){
  .roomToggle {
  border-radius:20px;
  color:white;
  background-color:#34a1e5;
  padding:0.5vmin;
  position:absolute;
  left:20px;
  top:70%;
  font-size:70%;
}
.roomToggle:hover {
  filter:brightness(90%);
  cursor:pointer;
}
}
@media (max-width:710px){
  .roomToggle {
  border-radius:20px;
  color:white;
  background-color:#34a1e5;
  padding:0.2vmin;
  position:absolute;
  left:20px;
  top:70%;
  font-size:5px;
}
.roomToggle:hover {
  filter:brightness(90%);
  cursor:pointer;
}
}
@media (max-width:570px){
  .roomToggle {
  border-radius:20px;
  color:white;
  background-color:#34a1e5;
  padding:0.1vmin;
  position:absolute;
  left:20px;
  top:70%;
  font-size:4px;
}
.roomToggle:hover {
  filter:brightness(90%);
  cursor:pointer;
}
}
@media (max-width:820px){
  .roomToggle {
    border-radius:1vmin;
    font-size:8px;
  }
  #floorNavMobile {
    display:block;
  }
  #floorNav {
    display:none;
  }
  .imgC6, .legendC {
    display:none;
  }
  .imgC6Mobile {
    display:none;
  }
  .legendCMobile {
    display:block;
  }
}
/*start of CSS for search bar*/
#outputC {
  position:absolute;
  z-index:99;
  bottom:-20px;
}
.search {
  position:relative;
  width: 60%;
  min-width:350px;
  margin-bottom: auto;
  margin-top: 10px;
  margin-left:auto;
  margin-right:auto;
  height: 50px;
  background-color: #e6e6e6;
  padding: 10px;
  border-radius: 5px;
}
.search-input {
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  margin-top: 5px;
  caret-color: transparent;
  line-height: 20px;
}
.search .search-input {
  padding: 0 10px;
  width: 100%;
  caret-color: #3585fd;
  font-size: 19px;
  font-weight: 300;
  color: black;
}
.search-icon {
  height: 34px;
  width: 34px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #3585fd;
  font-size: 10px;
  bottom: 30px;
  position: relative;
  border-radius: 5px
}
.search-icon:hover {
    color: #fff !important;
    cursor:pointer;
    text-decoration:none;
}
.searchResultDepts {
    display:none;
}
.btn-outline-primary {
  display:block;
  width:260px;
  margin-top: 20px;
  margin-right:auto;
  margin-left:auto;
}
@media (max-width:400px){
  .search {
    min-width:100%;
  }
  .search-input {
    overflow:hidden;
  }
  .search-input::placeholder {
    text-overflow:ellipsis;
  }
}
/*end of CSS for search bar*/