{% extends "layout.html" %}

{% block title %}About{% endblock %}

{% block head %}
<link href='https://fonts.googleapis.com/css?family=Asap' rel='stylesheet'>

<style>
  body {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
  }
  html,body {
    scroll-behavior: smooth;
    overflow-x: hidden;
    max-width: 100%;
  }
  .title-text {
    font-family: 'Asap';
    font-weight: bold;
    line-height: 40px;
  }
  .timelineT {
    margin-top:14px;
    font-family: 'Montserrat', sans-serif;
  }
  .underlineT {
    height:2px;
    width:200px;
    margin-left:0px;
  }
  .body-text {
    margin-top: 14px;
    font-family: 'Montserrat', sans-serif;
  }
  .semi-rounded {
    border-radius: 50px;
  }
  .rounded {
    border-radius: 5% !important;
  }
  .rounded-circle {
    max-width: 700px !important;
  }
  .body-text {
    font-size: 18px !important;
  }
  .contentSpacer {
    height: 20vh;
  }
  .mobileTxt {
    display: none;
  }
  .pageLink {
    color: #037dff;
    font-weight: bold;
    text-decoration: none;
  }
  .pageLink:hover {
    color: #004a99;
    text-decoration: underline;
  }
  .navbar {
    position: relative;
    display: flex;
    align-items: center;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
  .bcgMainIcon {
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: -1;
    width: 100%;
    height: 100%;
    transform: scale(11.0);
    filter: opacity(65%);
  }
  .mainTxt {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    color: black;
  }
  .subTimelineD {
    display: grid;
    grid-template-columns: 300px 10px 300px;
    justify-content: center;
    align-content: start;
    width: 100%;
  }
  .linkItem {
    user-select: none;
    background-color: #eeeeee;
    border-radius: 16px;
    padding: 8px;
    width: 300px;
    margin: 6px 6px 6px 0px;
  }
  .rightItem {
    background-color:#cde1fe;
  }
  .linkItem:hover {
    cursor: pointer;
    background-color:#b4d1fd;
  }
  .subTimelineDisplay div:nth-child(4) {
    margin: 6px 0px;
  }
  .biosC {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    width:100%;
    justify-content:space-around;
    font-family: 'Montserrat', sans-serif;
  }
  .bioC {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width:260px;
    margin:14px;
  }
  .bioTitle {
    background-color:#1778b5;
    color:white;
  }
  .bioTitle h3 {
    padding:2px 8px;
    margin:0;
  }
  .bioTitle h5 {
    padding:2px 8px;
    margin:0;
  }
  .picChange {
    width:100%;
    position:relative;
    overflow:hidden;
  }
  .coverImg {
    width:100%;
    margin-right:auto;
    margin-left:auto;
  }
  .bioTxt {
    position:absolute;
    top:0;
    opacity:0;
    background-color:#1d96e2;
    color:white;
    text-align:justify;
    padding:14px;
    height:278px;
    font-family: 'Montserrat', sans-serif;
    transition:opacity 1s ease 0.25s;
  }
  .bioTxt:hover {
    cursor:pointer;
    opacity:1;
  }
  .underlineB {
    height:2px;
    width:210px;
    margin:0px 0px 0px 4px;
  }
  .phase2 {
    background-color:#73e600;
  }
  .phase2Dark {
    background-color:#59b300;
  }
  @media (min-width: 992px) {
    .navbar-expand-lg {
      flex-wrap: nowrap;
      justify-content: flex-start;
    }
  }
  @media (max-width:1300px) {
    .contentSpacer {
      height: 10vh;
    }
  }
  @media (max-width:991px) {
    .contentSpacer {
      height: 10vh;
    }
    .mobileTxt {
      display: block;
    }
    .normalTxt {
      display: none;
    }
  }
</style>

{% endblock %}

{% block body %}

{% include "components/nav.html" %}
<div class="jumbotron" style="background-color:white">
  <div class="container-fluid my-container">
    <div class="container mt-2">
      <div class="row justify-content-between">
        <div class="col-lg-4 col-md-8">
          <h1 class="title-text">About Us</h1>
          <p class="body-text">Body text.</p>
        </div>
        <div class="col-lg-4 col-md-6">
          <img src="{{ url_for('static', filename='steam-life-full.svg') }}" loading="lazy" style="width:100%"
            alt="Responsive image">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="jumbotron" style="background-color:#1982c4">
  <div class="container-fluid my-container">
    <div class="container mt-2">
      <div class="row justify-content-between">
        <div class="col-lg-4 col-md-8">
          <h1 class="title-text" style="color:white;">Mission Statement</h1>
          <p class="body-text" style="color:white;">The STEAM Center App project is committed to developing an
            application that allows students to explore and use the STEAM Center to their fullest.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="jumbotron" style="background-color:white">
  <div class="container-fluid my-container">
    <div class="container mt-2">
      <div class="row justify-content-between">
        <div class="col-lg-4 col-md-8">
          <h1 class="title-text">Phase 1 Members</h1>
          <p class="body-text">Body text. Member bios will go below this.</p>
        </div>
      </div>
      <div class="biosC">
        <div class="bioC">
          <div class="bioTitle">
            <h3>First Last</h3>
            <hr class="underlineB">
            <h5>Department</h5>
          </div>
          <div class="picChange">
            <div class="cover"><img src="{{ url_for('static', filename='exampleBio.png') }}" class="coverImg" loading="lazy" alt="bio image"></img></div>
            <div class="bioTxt">Hello! My name is first last and I was in Department...</div>
          </div>
        </div>
        <div class="bioC">
          <div class="bioTitle">
            <h3>First Last</h3>
            <hr class="underlineB">
            <h5>Department</h5>
          </div>
          <div class="picChange">
            <div class="cover"><img src="{{ url_for('static', filename='exampleBio.png') }}" class="coverImg" loading="lazy" alt="bio image"></img></div>
            <div class="bioTxt">Hello! My name is first last and I was in Department...</div>
          </div>
        </div>
        <div class="bioC">
          <div class="bioTitle">
            <h3>First Last</h3>
            <hr class="underlineB">
            <h5>Department</h5>
          </div>
          <div class="picChange">
            <div class="cover"><img src="{{ url_for('static', filename='exampleBio.png') }}" class="coverImg" loading="lazy" alt="bio image"></img></div>
            <div class="bioTxt">Hello! My name is first last and I was in Department...</div>
          </div>
        </div>
        <div class="bioC">
          <div class="bioTitle">
            <h3>First Last</h3>
            <hr class="underlineB">
            <h5>Department</h5>
          </div>
          <div class="picChange">
            <div class="cover"><img src="{{ url_for('static', filename='exampleBio.png') }}" class="coverImg" loading="lazy" alt="bio image"></img></div>
            <div class="bioTxt">Hello! My name is first last and I was in Department...</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="jumbotron" style="background-color:#8ac926">
  <div class="container-fluid my-container">
    <div class="container mt-2">
      <div class="row justify-content-between">
        <div class="col-lg-4 col-md-8">
          <h1 class="title-text" style="color:white;">Phase 2 Members</h1>
          <p class="body-text" style="color:white;">Body text. Member bios will go below this.</p>
        </div>
      </div>
      <div class="biosC">
        <div class="bioC">
          <div class="bioTitle phase2Dark">
            <h3>First Last</h3>
            <hr class="underlineB">
            <h5>Department</h5>
          </div>
          <div class="picChange">
            <div class="cover"><img src="{{ url_for('static', filename='exampleBio.png') }}" class="coverImg" loading="lazy" alt="bio image"></img></div>
            <div class="bioTxt phase2">Hello! My name is first last and I was in Department...</div>
          </div>
        </div>
        <div class="bioC">
          <div class="bioTitle phase2Dark">
            <h3>First Last</h3>
            <hr class="underlineB">
            <h5>Department</h5>
          </div>
          <div class="picChange">
            <div class="cover"><img src="{{ url_for('static', filename='exampleBio.png') }}" class="coverImg" loading="lazy" alt="bio image"></img></div>
            <div class="bioTxt phase2">Hello! My name is first last and I was in Department...</div>
          </div>
        </div>
        <div class="bioC">
          <div class="bioTitle phase2Dark">
            <h3>First Last</h3>
            <hr class="underlineB">
            <h5>Department</h5>
          </div>
          <div class="picChange">
            <div class="cover"><img src="{{ url_for('static', filename='exampleBio.png') }}" class="coverImg" loading="lazy" alt="bio image"></img></div>
            <div class="bioTxt phase2">Hello! My name is first last and I was in Department...</div>
          </div>
        </div>
        <div class="bioC">
          <div class="bioTitle phase2Dark">
            <h3>First Last</h3>
            <hr class="underlineB">
            <h5>Department</h5>
          </div>
          <div class="picChange">
            <div class="cover"><img src="{{ url_for('static', filename='exampleBio.png') }}" class="coverImg" loading="lazy" alt="bio image"></img></div>
            <div class="bioTxt phase2">Hello! My name is first last and I was in Department...</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="jumbotron" style="background-color:white">
  <div class="container-fluid my-container">
    <div class="container mt-2">
      <div class="row justify-content-between">
        <div class="col-lg-4 col-md-8">
          <h1 class="title-text">Timeline</h1>
          <p class="body-text">Body text regarding our timeline.</p>
        </div>
      </div>
      <div class="timelineDisplay">
        <h2 class="title-text timelineT">Early Stages</h2>
        <hr class="underlineT">
        <div class="subTimelineDisplay subTimelineD">
          <div class="linkItem" style="display:none"></div>
        </div>
        <h2 class="title-text timelineT">Phase 1</h2>
        <hr class="underlineT">
        <div class="subTimelineDisplay2 subTimelineD">
          <div class="linkItem" style="display:none"></div>
        </div>
        <h2 class="title-text timelineT">Phase 2</h2>
        <hr class="underlineT">
        <div class="subTimelineDisplay3 subTimelineD">
          <div class="linkItem" style="display:none"></div>
        </div>

      </div>
    </div>
  </div>
</div>
<div class="jumbotron" style="background-color:#1982c4">
  <div class="container-fluid my-container">
    <div class="container mt-2">
      <div class="row justify-content-between">
        <div class="col-lg-4 col-md-8">
          <h1 class="title-text" style="color:white;">Mobile App</h1>
          <p class="body-text" style="color:white;">Body text regarding the mobile app here.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="jumbotron" style="background-color:white">
  <div class="container-fluid my-container">
    <div class="container mt-2">
      <div class="row justify-content-between">
        <div class="col-lg-4 col-md-8">
          <h1 class="title-text">Feedback</h1>
          <p class="body-text">Body text regarding user feedback/ app testing.</p>
          <p class="body-text"><a href="https://forms.gle/mbDhwNqLvpznhbKH8" class="pageLink" target="_blank">Feedback
              Link</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="jumbotron" style="background-color:#8ac926;margin-bottom:0px;">
  <div class="container-fluid my-container">
    <div class="container mt-2">
      <div class="row justify-content-between">
        <div class="col-lg-4 col-md-8">
          <h1 class="title-text" style="color:white;">Join Us!</h1>
          <p class="body-text" style="color:white;">Body text regarding joining the STEAM Center App project dev team.
          </p>
          <p class="body-text"><a href="https://forms.gle/3H6h9v4SVd8yGeMe9" class="pageLink"
              target="_blank">Application Link</a></p>
          <p class="body-text"><a href="https://forms.gle/XhnqyW43DFwjotpE7" class="pageLink" target="_blank">App Tester
              Link</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  var pageWidth = $(document).width();
  var subTimelineDisplay = document.querySelector(".subTimelineDisplay");
  var subTimelineDisplay2 = document.querySelector(".subTimelineDisplay2");
  var subTimelineDisplay3 = document.querySelector(".subTimelineDisplay3");
  var dataArr;
  var scrollID = "";
  var eventListing = document.querySelector(".timelineDisplay");
  var daysInMonths = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31];
  var endPoints = [];
  function eventInTimeline(index, display, bitFlag, start, end) {
    //this creates a new list item element
    var listItem = document.createElement("div");
    listItem.id = `item${index + 1}`;
    listItem.classList.add("linkItem");
    display.appendChild(listItem);
    //creating the name div
    var listItemName = document.createElement("div");
    listItemName.style.fontSize = "18px";
    listItemName.style.fontWeight = "bold";
    var listItemNameTxt = document.createTextNode(`${dataArr[index].name}`);
    listItemName.appendChild(listItemNameTxt);
    listItem.appendChild(listItemName);
    //creating the date div
    var listItemDate = document.createElement("div");
    var listItemDateTxt = document.createTextNode(`${dataArr[index].date}`);
    listItemDate.appendChild(listItemDateTxt);
    listItem.appendChild(listItemDate);
    //creating the description div
    var listItemDescription = document.createElement("div");
    var listItemDescriptionTxt = document.createTextNode(`${dataArr[index].description}`);
    listItemDescription.appendChild(listItemDescriptionTxt);
    listItem.appendChild(listItemDescription);
    //creating the timeline divider
    var divider = document.createElement("div");
    divider.style.backgroundColor = "#737373";
    divider.style.width = "100%;";
    if (start) { divider.style.borderRadius = "16px 16px 0px 0px"; }
    else if (end) { divider.style.borderRadius = "0px 0px 16px 16px"; }
    display.appendChild(divider);
    //creating a spacer for the correct grid layout
    var spacer = document.createElement("div");
    spacer.classList.add("linkItem");
    {
      //creating the name div
      var listItemName = document.createElement("div");
      listItemName.style.fontSize = "18px";
      listItemName.style.fontWeight = "bold";
      var listItemNameTxt = document.createTextNode(`${dataArr[index].name}`);
      listItemName.appendChild(listItemNameTxt);
      spacer.appendChild(listItemName);
      //creating the date div
      var listItemDate = document.createElement("div");
      var listItemDateTxt = document.createTextNode(`${dataArr[index].date}`);
      listItemDate.appendChild(listItemDateTxt);
      spacer.appendChild(listItemDate);
      //creating the description div
      var listItemDescription = document.createElement("div");
      var listItemDescriptionTxt = document.createTextNode(`${dataArr[index].description}`);
      listItemDescription.appendChild(listItemDescriptionTxt);
      spacer.appendChild(listItemDescription);
    }
    display.appendChild(spacer);
    listItem.style.gridColumn = "1 / 2";
    divider.style.gridColumn = "2 / 3";
    spacer.style.gridColumn = "3 / 4";
    if (pageWidth < 650) { //for small screens
      spacer.remove();
      $(".subTimelineD").css("grid-template-columns", "auto 10px");
      $(".subTimelineD").css("justify-content", "end");
      listItem.style.width="100%";
    }
    else { //for normal conditions
      if (bitFlag) { spacer.style.visibility = "hidden"; }
      else { listItem.style.visibility = "hidden";spacer.classList.add("rightItem"); }
    }
  }
  function updateSubTimeline(display, startPoint, endPoint) {
    var bitFlag = true;
    var start;
    var end;
    for (var index = startPoint; index < endPoint; index++) {
      if ( index == startPoint ) {start = true}
      else {start=false;}
      if ( index == (endPoint-1) ) {end=true;}
      else {end=false;}
      eventInTimeline(index, display, bitFlag, start, end);
      bitFlag = !bitFlag;
    }
  }
  function leapYear(year) {
    if (parseInt(year) % 4 == 0) { return true; }
    return false;
  }
  function leapChange(year) { //updates the days in a month array depending on leap year status
    if (leapYear(year)) { daysInMonths[1] = 29; }
    else { daysInMonths[1] = 28; }
  }
  //returns the number of days that have passed since 1/1/21
  function dateToNum(date) {
    var dateNum = 0;
    var splitDate = date.split('/');
    const today = new Date();
    var currentYear = parseInt(today.getFullYear().toString()[2] + today.getFullYear().toString()[3]);
    if (parseInt(splitDate[2]) >= currentYear) {
      leapChange(splitDate[2]);
      //this adds the days from the months that have passed
      for (var i = 0; i < parseInt(splitDate[0]) - 1; i++) { dateNum += daysInMonths[i]; }
      //this adds the days from the first day of the month
      dateNum += parseInt(splitDate[1]);
      //this adds the days from the years that have passed since 2021
      for (var i = 19; i < parseInt(splitDate[2]); i++) {
        if (leapYear(i)) { dateNum += 366; }
        else { dateNum += 365; }
      }
    }
    return dateNum;
  }
  function findEndPoints() {
    const startPoint = dateToNum("11/5/20");
    var startCount = 0;
    const startPoint2 = dateToNum("3/15/21");
    var startCount2 = 0;
    const startPoint3 = dateToNum("9/9/21");
    //don't need a counter to calculate the 3rd endpoint since this will always be dataArr.length
    for (var index=0; index < dataArr.length; index++) {
      var tempVal = dateToNum(dataArr[index].date);
      if (tempVal >= startPoint && tempVal < startPoint2) {
        startCount++;
      }
      else if (tempVal >= startPoint2 && tempVal < startPoint3) {
        startCount2++;
      }
    }
    endPoints[0] = startCount;
    endPoints[1] = startCount + startCount2;
  }
  function updateTimeline() {
    findEndPoints();
    //this adds the information for the early stages sub-timeline
    updateSubTimeline(subTimelineDisplay, 0, endPoints[0]);
    //this adds the information for the phase 1 sub-timeline
    updateSubTimeline(subTimelineDisplay2, endPoints[0], endPoints[1]);
    //this adds the information for the phase 2 sub-timeline
    updateSubTimeline(subTimelineDisplay3, endPoints[1], dataArr.length);
  }
  function repositionFooter() {
    $('.footerC').css("position", "relative");
    var vw = Math.max(document.documentElement.clientWidth || 0, window.innerWidth || 0);
    var vh = Math.max(document.documentElement.clientHeight || 0, window.innerHeight || 0);
    var elementOffset = $('.footerC').offset().top;
    var distance = (elementOffset) + $('.footerC').outerHeight();
    if ((vh - distance) >= 0) { $('.footerC').css("position", "absolute"); $('.footerC').css("bottom", "0px"); }
    else { $('.footerC').css("position", "relative"); }
  }
  function sortArray(array) {
    const date = new Date();
    var today = `${date.getMonth() + 1}/${date.getDate()}/${date.getFullYear().toString()[2] + date.getFullYear().toString()[3]}`;
    var todayNum = dateToNum(today);
    var lowestVal;
    var sortedArray = [];
    for (var index = 0; index < array.length; index++) {
      lowestVal = 100000000000;
      for (var index2 = index; index2 < array.length; index2++) {
        var currentVal = dateToNum(array[index2].date);
        if (currentVal < lowestVal) {
          lowestVal = currentVal;
          var oldObj = sortedArray[index];
          //this places the earliest date first
          sortedArray[index] = array[index2];
          array[index2] = oldObj;
        }
        else if (currentVal == lowestVal) {
          var tempObj = sortedArray[index];
          //reverse the two objects if they are not alphabetically sorted when same date
          if (array[index2].name < tempObj.name) {
            sortedArray[index + 1] = tempObj;
            sortedArray[index] = array[index2];
            array[index2] = tempObj;
          }
        }
      }
    }
    return sortedArray;
  }
  function fixBioStyling() {
    /*var coverImg = document.querySelector('.coverImg');
    var bioTxt = document.querySelector('.bioTxt');
    var currentIHeight = coverImg.offsetHeight;
    bioTxt.style.height = `${currentIHeight}px`;*/
  }
  fetch('/static/timeline.json', { mode: 'cors' }).then(function (resp) {
    return resp.json();
  }).then(function (data) {
    dataArr = sortArray(data.timeline);
    updateTimeline();
    repositionFooter();
    fixBioStyling();
  });
</script>
{% include "components/footer.html" %}

{% endblock %}