{% extends "layout.html" %}

{% block title %}Gallery{% endblock %}

{% block head %}
<link href='https://fonts.googleapis.com/css?family=Asap' rel='stylesheet'>
{% endblock %}

{% block body %}

{% include "components/nav.html" %}

<section id="page8"></section>
<h1> Highlights</h1>
<div class="container">
  <h2>Event 1</h2>
  <div id="myCarousel1" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel1" data-slide-to="0" class="active" alt="Carousel image 1"></li>
      <li data-target="#myCarousel1" data-slide-to="1" alt="Carousel image 2"></li>
      <li data-target="#myCarousel1" data-slide-to="2" alt="Carousel image 3"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://source.unsplash.com/random/?tech,care" alt="Event 1 image 1" style="width:100%;">
        <div class="carousel-caption">
          <h3>Caption 1</h3>
          <p>Tiny Caption 1</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://source.unsplash.com/random/?tech,care" alt="Event 1 image 1" style="width:100%;">
        <div class="carousel-caption">
          <h3>Caption 2</h3>
          <p>Tiny Caption 2</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://source.unsplash.com/random/?tech,care" alt="Event 1 image 1" style="width:100%;">
        <div class="carousel-caption">
          <h3>Caption 3</h3>
          <p>Tiny Caption 3</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel1" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only" alt="Previous image button">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel1" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only" alt="Next image button">Next</span>
    </a>
  </div>
</div>
<div class="container">
  <h2>Event 2</h2>
  <div id="myCarousel2" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel2" data-slide-to="0" class="active" alt="Carousel image 1"></li>
      <li data-target="#myCarousel2" data-slide-to="1" alt="Carousel image 2"></li>
      <li data-target="#myCarousel2" data-slide-to="2" alt="Carousel image 3"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://source.unsplash.com/random/?tech,studied" alt="Event 2 image 1" style="width:100%;">
        <div class="carousel-caption">
          <h3>Caption 1</h3>
          <p>Tiny Caption 1</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://source.unsplash.com/random/?tech,studied" alt="Event 2 image 2" style="width:100%;">
        <div class="carousel-caption">
          <h3>Caption 2</h3>
          <p>Tiny Caption 2</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://source.unsplash.com/random/?tech,studied" alt="Event 2 image 3" style="width:100%;">
        <div class="carousel-caption">
          <h3>Caption 3</h3>
          <p>Tiny Caption 3</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel2" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only" alt="Previous image button">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel2" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only" alt="Next image button">Next</span>
    </a>
  </div>
</div>
<div class="userEmail">{{ email }}</div>
{% include "components/footer.html" %}

<script>
$(document).ready(function(){
	$('#carousel-one').carousel();
	$('#carousel-two').carousel();
})
</script>

{% endblock %}
