<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% block title %}{% endblock %} - STEAM Life</title>
<link href="{{ url_for('static', filename='favicon.png') }}" rel="icon" type="image/x-icon">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

<link rel="stylesheet" href="{{ url_for('static', filename='footerPage.css') }}">

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Asap' rel='stylesheet'>

<style>
body {
  font-family: 'Montserrat', sans-serif;
}
.btn-primary {
  background:transparent;
  border:none;
}
.contrastC {
  user-select:none;
}
.contrastCheckbox:checked + .custom-control-label::before {
  background-color:darkgrey;
}
.contrastCheckbox:checked + .custom-control-label::after {
  background-color:white;
}
@media (max-width:991px){
  .contrastC {
    margin-left:8px;
  }
}
</style>

{% block head %}{% endblock %}

</head>
<body>
{% block body %}{% endblock %}
</body>
<script>
  var checked = false;
  var c6State = "";
  var c6MobileState = "";
  var legendState = "";
  var legendMobileState = "";
  var nav1CColor = "";
  var nav2CColor = "";
  function highContrast() {
    //this returns the current page starting at index 0
    var currentPage = parseInt($("section").first().attr("id").split("page").pop());
    //non-page-specific styling
    if (checked) {
      $(".dropdown button").css("background-color", "#242424");
      $(".navbar").css("background-color", "#242424");
      $("img").css("filter", "grayscale(100%)");
      $(".navbar-brand img").css("filter", "brightness(10000%)");
      $(".dropdown button").hover(function() {
        $(this).css("background-color", "#4B4B4B");
      },
      function () {
          $(this).css("background-color", "#242424");
        });
      try {
        $(".pageLink, #returnToList").css("color", "#4B4B4B");
        $(".pageLink, #returnToList").hover(function () {
          $(this).css("color", "black");
        },
          function () {
            $(this).css("color", "#4B4B4B");
          });
          $(".search-icon").css("background-color", "#242424");
          $(".fa-search").css("color", "white");
          $(".roomToggle").css("background-color", "#242424");
          $(".gridC").css("border-left", "4px solid #8B8B8B");
          $(".gridC").first().css("border-left", "none");
      } catch (error) { }
    }
    else {
      $(".dropdown button").css("background-color", "#0d6efd");
      $(".navbar").css("background-color", "#0d6efd");
      $("img").css("filter", "none");
      $(".navbar-brand img").css("filter", "brightness(10000%)");
      $(".dropdown button").hover(function() {
        $(this).css("background-color", "#0067d6");
      },
      function() {
        $(this).css("background-color", "#0d6efd");
      });
      try {
        $(".pageLink, #returnToList").css("color", "#037dff");
        $(".pageLink, #returnToList").hover(function () {
          $(this).css("color", "#004a99");
        },
          function () {
            $(this).css("color", "#037dff");
          });
          $(".search-icon").css("background-color", "#0d6efd");
          $(".fa-search").css("color", "black");
          clearClubListing(clubListing);
          updateClubListing();
      } catch (error) { }
    }
    //page-specific styling
    switch (currentPage) {
      case 1:
        if (checked) {
          $(".hc1").css("background-color", "#8B8B8B");
          $(".hc2").css("background-color", "#6B6A6A");
        }
        else {
          $(".bcgMainIcon").css("filter", "opacity(65%)");
          $(".hc1").css("background-color", "#1982c4");
          $(".hc2").css("background-color", "#6a4c93");
        }
      case 2:
        if (checked) {
          $(".hc1").css("background-color", "#8B8B8B");
          $(".hc2").css("background-color", "#6B6A6A");
          $(".bioTitle").css("background-color", "#828282");
          $(".phase2Dark").css("background-color", "#828282");
          $(".bioTxt").css("background-color", "#ADADAD");
          $(".phase2").css("background-color", "#ADADAD");
          $(".linkItem").css("background-color", "#eeeeee");
        }
        else {
          $(".hc1").css("background-color", "#1982c4");
          $(".hc2").css("background-color", "#8ac926");
          $(".bioTitle").css("background-color", "#1778b5");
          $(".phase2Dark").css("background-color", "#59b300");
          $(".bioTxt").css("background-color", "#1d96e2");
          $(".phase2").css("background-color", "#73e600");
          $(".linkItem").css("background-color", "#eeeeee");
          $(".rightItem").css("background-color", "#cde1fe");
          $(".linkItem").hover(function () {
            $(this).css("background-color", "#b4d1fd");
          },
            function () {
              $(this).css("background-color", "#eeeeee");
              if ($(this).hasClass("rightItem")) { $(this).css("background-color", "#cde1fe"); }
            });
        }
      case 3:
        if (checked) {
          c6State = $(".imgC6").css("display");
          c6MobileState = $(".imgC6Mobile").css("display");
          legendState = $(".legendC").css("display");
          legendMobileState = $(".legendCMobile").css("display");
          $(".imgC6, .imgC6Mobile, .legendC, .legendCMobile").css("display", "none");
          nav1CColor = $(".nav1C").css("background-color");
          nav2CColor = $(".nav2C").css("background-color");
          $(".nav1, .nav2").css("background-color", "#242424");
          $(".nav1, .nav2").css("color", "white");
        }
        else {
          $(".imgC6").css("display", c6State);
          $(".imgC6Mobile").css("display", c6MobileState);
          $(".legendC").css("display", legendState);
          $(".legendCMobile").css("display", legendMobileState);
          $(".roomToggle").css("background-color", "#34a1e5");
          $(".nav1, .nav2").css("background-color", "#0d6efd");
          $(".nav1C").css("background-color", nav1CColor);
          $(".nav2C").css("background-color", nav2CColor);
        }
      case 4:
        if (checked) {
          $("#circle1, #circle2, #circle3, #circle4, #circle5").css("border", "12px solid #242424");
          $(".science-descriptions, .technology-descriptions, .engineering-descriptions, .art-descriptions, .math-descriptions").css("background-color", "#242424");
          $(".title-textC").css("background-color", "rgba(0,0,0,0.85)");
        }
        else {
          $("#circle1").css("border", "12px solid #63a11b");
          $("#circle2").css("border", "12px solid #1982c4");
          $("#circle3").css("border", "12px solid #6a4c93");
          $("#circle4").css("border", "12px solid #DCA000");
          $("#circle5").css("border", "12px solid #E22739");
          $(".science-descriptions").css("background-color", "#63a11b");
          $(".technology-descriptions").css("background-color", "#1982c4");
          $(".engineering-descriptions").css("background-color", "#6a4c93");
          $(".art-descriptions").css("background-color", "#DCA000");
          $(".math-descriptions").css("background-color", "#E22739");
          $(".title-textC").css("background-color", "rgba(0,0,0,0.65)");
        }
      case 5:
        if (checked) {
          $(".btn-outline-primary").css("background-color", "#242424");
          $(".btn-outline-primary").css("color", "white");
        }
        else {
          $(".btn-outline-primary").css("background-color", "#0d6efd");
        }
      case 6:
        if (checked) {

        }
        else {

        }
      case 7:
        if (checked) {

        }
        else {

        }
      case 8:
        if (checked) {

        }
        else {

        }
      case 9:
        if (checked) {

        }
        else {

        }
      case 10:
        if (checked) {
          $(".title-textC").css("background-color", "rgba(0,0,0,0.85)");
          $(".faq-descriptions").css("background-color", "#242424");
        }
        else {
          $(".title-textC").css("background-color", "rgba(0,0,0,0.65)");
          $(".faq-descriptions").css("background-color", "#63a11b");
        }
      case 11:
        if (checked) {

        }
        else {

        }
    }
  }
  $("#aboutBtn").on("click", function() {
    window.location.href="/about";
  });
  $("#faqBtn").on("click", function() {
    window.location.href="/help";
  });
  $("#logInBtn").on("click", function() {
    window.location.href="/login";
  });
  $(".contrastCheckbox").on("click", function() {
    checked = !checked;
    //change page styling every time the toggle is pressed
    highContrast();
  });
  
</script>
</html>
