<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% block title %}{% endblock %} - STEAM Life</title>
<link href="{{ url_for('static', filename='favicon.png') }}" rel="icon" type="image/x-icon">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

<link rel="stylesheet" href="{{ url_for('static', filename='footerPage.css') }}">

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Asap' rel='stylesheet'>

<style>
body {
  font-family: 'Montserrat', sans-serif;
}

.btn-primary {
  background:transparent;
  border:none;
}
</style>

{% block head %}{% endblock %}

</head>
<body>
{% block body %}{% endblock %}
</body>
<script>
  $("#aboutBtn").on("click", function() {
    window.location.href="/about";
  });
  $("#faqBtn").on("click", function() {
    window.location.href="/help";
  });
  $("#logInBtn").on("click", function() {
    window.location.href="/login";
  });
</script>
</html>
