<div class="footerC">
  <div class="createdby listBody">
  	<h2 class="footerTitle">Created By</h2>
    <ul>
      <li>Students in STEAM Ambassadors</li>
      <li>Students in Computer Science</li>
      <li>And More!</li>
    </ul>
  </div>
  <div class="disclaimerC">
  <div class="disclaimer paraBody">
    <h2 class="footerTitle">Disclaimer</h2>
    <p>This is a 3rd party platform<br>created by students inside of AISD.</p>
  </div>
  </div>
  <div class="mobileG">
  <div class="disclaimerM paraBody">
  	<h2 class="footerTitle">Disclaimer</h2>
    <p>This is a 3rd party platform<br>created by students inside of AISD.</p>
  </div>
  <div class="helpfullinksMC">
  <div class="helpfullinksM listBody">
    <h2 class="footerTitle">Helpful Links</h2>
  	<ul>
      <li><a href="https://www.allenisd.org/steamcenter" target="_blank" rel="noreferrer noopener" alt="Official STEAM Center website">Official STEAM Center Website</a></li>
      <li><a href="https://life.allencs.org/privacy-policy" target="_blank" rel="nonreferrer noopener" alt="Privacy policy link">Privacy Policy</a></li>
      <li><a href="https://life.allencs.org/terms" target="_blank" rel="nonreferrer noopener" alt="Terms and conditions link">Terms and Conditions</a></li>
    </ul>
  </div>
  </div>
  </div><!--End of mobile styling-->
  <div class="createdbyM listBody">
  	<h2 class="footerTitle">Created By</h2>
    <ul>
      <li>Students in STEAM Ambassadors</li>
      <li>Students in Computer Science</li>
      <li>Students in Graphic Design</li>
    </ul>
  </div>
  <div class="helpfullinksC">
  <div class="helpfullinks listBody">
    <h2 class="footerTitle">Helpful Links</h2>
  	<ul>
      <li><a href="https://www.allenisd.org/steamcenter" target="_blank" rel="noreferrer noopener" alt="Official STEAM Center website">Official STEAM Center Website</a></li>
      <li><a href="https://life.allencs.org/privacy-policy" target="_blank" rel="nonreferrer noopener" alt="Privacy policy link">Privacy Policy</a></li>
      <li><a href="https://life.allencs.org/terms" target="_blank" rel="nonreferrer noopener" alt="Terms and conditions link">Terms and Conditions</a></li>
    </ul>
  </div>
</div>
</div>
