<!--Navbar-->
  <div class="navbar navbar-expand-lg navbar-dark" style="font-weight:500; background-color: #0d6efd;">
    <div class="container">
      <a class="navbar-brand" href="/"><img style="width:50px;height:50px;filter:brightness(10000%);" src="{{ url_for('static', filename='STEAM-icon-04.svg') }}">STEAM Center</a><!-- TODO insert logo here-->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navCollapse" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <div class="collapse navbar-collapse" id="navCollapse">
        <ul class="navbar-nav" style="margin-right: auto;">
          <div class="dropdown">
            <button type="button" class="btn btn-primary" id="aboutBtn"> About
            </button>
          </div>
          
          <div class="dropdown">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"> Explore
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/explore">Map</a>
              <a class="dropdown-item" href="/courses">Courses</a>
              <a class="dropdown-item" href="/clubs">Clubs</a>
            </div>
          </div>
          <div class="dropdown">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"> Services
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/events">Events</a>
              <a class="dropdown-item" href="/services">Service</a>
            </div>
          </div>
          <div class="dropdown">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"> Gallery
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/gallery"> Gallery </a>
              <a class="dropdown-item" href="/archive">Archive</a>
            </div>
          </div>
          <div class="dropdown">
            <button type="button" class="btn btn-primary" id="faqBtn"> FAQ
            </button>
          </div>
        </ul>
        <ul class="navbar-nav searchNav">
          <div class="dropdown">
            <button type="button" class="btn btn-primary" data-toggle="dropdown" id="logInBtn"> Log In
            </button>
          </div>
        </ul>
      </div>
  </div>
  </div>
  <!--Navbar end-->
